.panel.panel-info
	.panel-heading
		.panel-title Alter Subscription
	.panel-body
		form.form-horizontal(role='form')
			.row.text-muted.text-uppercase
				.col-md-offset-4.col-md-2 Throughput
				.col-md-2 Average CPM
			.row.lead
				.col-md-offset-4.col-md-2
					big 980k
				.col-md-2
					big 22.3
					| $
			hr
			.form-group
				label.col-md-4.control-label Subscriptions Name
				.col-md-6
					input.form-control(
						type='text'
						placeholder='Enter a name for the Subscription'
						ng-model="ctrl.subscription.client"
					)
			.form-group
				label.col-md-4.control-label Start Date
				.col-md-6
					input.form-control(
						type='text'
						placeholder='Enter a starting date in YYYY-MM-DD format'
						ng-model="ctrl.subscription.startDate"
					)
			.form-group
				label.col-md-4.control-label Campaign
				.col-md-6
					select.form-control(
						ng-model="ctrl.subscription.campaign"
						ng-options="campaign._id as campaign.name for campaign in ctrl.campaigns"
						ng-change="ctrl.onCampaignSelect()"
					)
			.form-group
				label.col-md-4.control-label Initial Credits
				.col-md-4
					input.form-control(
						type="text"
						placeholder="Enter initial credits"
						ng-model="ctrl.subscription.totalCredits"
					)
			hr
			.form-group
				.col-md-offset-4.col-md-4
					h4.text-muted Keywords
			.form-group
				label.col-md-4.control-label Add Keyword
				.col-md-4
					input.form-control(
						type="text"
						placeholder="Keyword"
						ng-model="ctrl.newKeyword"
					)
				.col-md-1
					button.btn.btn-primary(ng-click="ctrl.addKeyword()")
						span.glyphicon.glyphicon-plus
			.form-group(ng-repeat="keyword in ctrl.subscription.keywords")
				.col-md-4.col-md-offset-4
					label.form-control-static {{keyword}}
				.col-md-1
					button.btn.btn-warning(ng-click="ctrl.removeKeyword(keyword)")
						span.glyphicon.glyphicon-trash

			hr
			.row
				.col-md-offset-4.col-md-4
					h4.text-muted
						abbr(title="All the fields that would be required to render the ad") Style Data
			.form-group(ng-repeat="holder in ctrl.style.placeholders")
				label.col-md-4.control-label
					label.text-muted.text-uppercase ~ {{holder}}
				.col-md-6
					input.form-control(
						type='text'
						ng-model="ctrl.subscription.data[holder]"
					)
			hr
			.form-group
				.col-md-offset-4.col-md-4
					h4.text-muted
						abbr(title="Performance of the subscription can be shared from the metrics panel") Report Sharing
			.form-group
				label.col-md-4.control-label Add Email
				.col-md-4
					input.form-control(
						type="text"
						placeholder="Email id"
						ng-model="ctrl.newEmailAccess"
					)
				.col-md-1
					button.btn.btn-primary(ng-click="ctrl.addEmail()")
						span.glyphicon.glyphicon-plus
			.form-group(ng-repeat="email in ctrl.subscription.emailAccess")
				.col-md-offset-4.col-md-4
						label.form-control-static {{email}}
				.col-md-1
					button.btn.btn-warning(ng-click="ctrl.removeEmail(email)")
						span.glyphicon.glyphicon-trash
			hr
			.form-group
				.col-md-6.col-md-offset-4
					button.btn.btn-primary(type="button", ng-click="ctrl.save()") Save
					| &nbsp;
					a.btn.btn-default(ng-href="#/subscriptions") Cancel
					| &nbsp;
					button.btn.btn-danger(type="button" ng-click="ctrl.remove()" ng-show="ctrl.subscription._id") Delete
