extends ./mailer-layout.jade

block content
	- var mockSubscription = {_id: '54570ab090e0020000e5986f','client': 'Home Store',totalCredits: 20340,startDate: Date.now(), usedCredits: 4000, conversions: 45}
	- var subscription = subscription || mockSubscription

	h4.text-center Ad Performance Report
	.panel.panel-default
		.panel-heading
			.panel-title
				div #{subscription.client}&nbsp;
				.text-muted #{subscription._id}
		.panel-body
			.row.text-muted.text-uppercase
				.col-md-3.col-md-offset-2 Total Credits
				.col-md-3 Start date

			.row.text-default.lead
				.col-md-2.text-info.text-right
					small #[abbr(title="Initial status of the subscription") Inception]
				.col-md-3 #[big #{subscription.totalCredits}]
				.col-md-3 #[big #{subscription.startDate}]

			hr
			.row.text-muted.text-uppercase
				.col-md-3.col-md-offset-2 credits used
				.col-md-3 Conversions

			.row.text-default.lead
				.col-md-2.text-info.text-right
					small #[abbr(title="Subscription performance till date") Accomplishment]
				.col-md-3
					big #{subscription.usedCredits}
				.col-md-3 #[big #{subscription.conversions}]